@model WebApplication.Models.KreiranjeGrupnogTreninga

@{
    ViewBag.Title = "KreirajGrupniTrening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>

    <h2 style="color:#fc6519;">Kreiraj Grupni Trening</h2>

    <div id="izmenaForma">

        <form action="KreirajGrupniTrening" method="post">
            <div class="left">@Html.LabelFor(model => model.Naziv)</div>
            <div class="right">@Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @data_val = "true", @required = "required" } })</div>

            <div class="left">@Html.LabelFor(model => model.Tip)</div>
            <div class="right">@Html.EditorFor(model => model.Tip, new { htmlAttributes = new { @data_val = "true", @required = "required" } })</div>

            <div class="left">@Html.Label("Fitnes centar")</div>
            @Html.DropDownListFor(model => model.FitnesCentarId, ViewBag.FitnesCentri as SelectList)

            <div class="left">@Html.Label("Trajanje treninga(minuti)")</div>
            <div class="right">@Html.EditorFor(model => model.TrajanjeTreninga, new { htmlAttributes = new { @type = "number", @min = "0", @data_val = "true", @required = "required" } })</div>

            <div class="left">@Html.Label("Datum treninga")</div>
            <div class="right">@Html.EditorFor(model => model.DatumTreninga, new { htmlAttributes = new { @data_val = "true", @required = "required", @placeholder = "dd/mm/gggg SS:mm:ss" } })</div>

            <div class="left">@Html.Label("Maksimalan broj")</div>
            <div class="right">@Html.EditorFor(model => model.MaximalanBroj, new { htmlAttributes = new { @type = "number", @min = "0", @data_val = "true", @required = "required" } })</div>
            <div hidden>@Html.EditorFor(model => model.Id)</div>

            <button id="izmeniDugme" type="submit">Kreiraj</button>
        </form>
    </div>
</body>
</html>



